<div style="background: #fff; padding: 10px 0; text-align: center">
  <p>
    Sent by
    <a href="https://expensemanager.jalpenshah.com"
      >https://expensemanager.jalpenshah.com</a
    >
  </p>
  <p>
    Contact me at : <a href="mailto:hi@jalpenshah.com">hi@jalpenshah.com</a>
  </p>
</div>
