<div
  style="
    background: #fff;
    display: flex;
  "
>
<img style="width: 70px;" src="https://expensemanager.jalpenshah.com/apple-touch-icon.png"></img>
<p style="
    margin: 21px;
    font-size: 18px;
    text-align: center;
">Expense Manager</p>
</div>
